/* Added Custom Styles for Phllpclrk.com */

body { 

    background-image: url('../images/double-bubble-outline.png');
    background-repeat: repeat;

}

.darkRepeatBackground {

    background-image: url('../images/double-bubble-dark.png');
    background-repeat: repeat;

}